
 #logo-YC{
    width: 14%;
    MARGIN-RIGHT: 7%;
    width: 15% !important;
 }

 li {
    margin-right: 10%;
}

a{
    width: max-content;
}

.nav-link{
    color: black;
}

 .navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: cursive;
}
body{
    background-color:#e3f0f473 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #24659f !important;
}

.nav-item:hover{
    border-top: none;
    border-left: #001bff;
    border-bottom-color: #24659f;
    border-bottom-style: solid;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 6 20 6 20;
  font-size: 16px;
  border: none;
  font-family: ui-monospace;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    height: fit-content;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-family:ui-monospace;
  }

  .dropdown-content a:link {text-decoration: none;}

  .dropdown-content a:hover {background-color: transparent;color:black;text-decoration: none;}

  
  .dropdown-content a:visited {text-decoration: none;}

  
  .dropdown-content a:active {text-decoration: none;}



  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #41474152;
  }

  #deco{
    border: none;
    color:black;
    background-color: transparent;
  }

  #deco:hover{
    background-color: rgb(235, 235, 235);
  }

  