body{
    font-family: cursive !important;
    font-size: revert !important;
}
#acti{
    background-color: white;
    width: 75.8%;
    MARGIN-LEFT: 22%;
    height: fit-content;
    margin-top: 1%;
    padding: 2%;
    font-family: system-ui;
    padding-bottom: 10%;
}

H1{
    font-family: system-ui;
}
#mod{
    background-color: #ffffff00;
    border: none;
}

#fa-titre{
    margin-top: 2.5%;
}

#hidden{
    background-color: white;
    border: none;
}
#button-list{
    margin-left: 3%;
    /* margin-bottom: 1%; */
    margin-top: 1%;
}

#inputs{
    margin-left: 10%;
    margin-top: 1%;
}
#hidden-cases{
    border: none;
}

#thead-dark{
    background-color: #1d5791;
}
#logo-icon {
    vertical-align: middle;
    border-style: none;
    margin-right: 10px;
    width: 6%;
}

.table-borderless{
    width: -webkit-fill-available;
}

.table-borderless td {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    padding-bottom: 9%;
    padding-top: 2%;
    font-size: small;
}

#buttons{
    color: black !important;
    MARGIN-TOP: 2%;
}

#info{
    background-color: white;
    border: none;
    color: #355ba2;
    font-family: system-ui;
    width: fit-content;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#RH{
    background-color: #355ba2;
    border: none;
    color: white;
    font-family: system-ui;
    width: fit-content;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#horaire{
    background-color: white;
    border: none;
    color: #355ba2;
    font-family: system-ui;
    width: fit-content;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#ventilation{
    background-color: white;
    border: none;
    color: #355ba2;
    font-family: system-ui;
    width: fit-content;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#stat{
    background-color: white;
    border: none;
    color: #355ba2;
    font-family: system-ui;
    width: fit-content;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#struc{
    background-color: #b6b8b8;
    width: fit-content;
    color: white;
    padding: 2 10 2 10;
    float: left;
    font-size: small;
    margin-right: 2%;
}

#statut{
    background-color:#f69c5e;
    width: fit-content;
    color: white;
    padding: 2 10 2 10;
    float: left;
    font-size: small;
}
#type-contrat{
    font-size: small;
    font-weight: 600;
    float: left;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 20%;
}

#temps-travail{
    float: left;
    font-size: small;
    font-weight: 600;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 63px;
    margin-right: 6%;
}

#mail{
    font-size: small;
    font-weight: 600;
    float: left;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 25.5%;
}

#DateEmbauche{
    font-size: small;
    font-weight: 600;
    float: left;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 22.5%;
}

#DateFin{
    font-size: small;
    font-weight: 600;
    float: left;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 6%;
}

#ventilation-checkbox{
    font-size: small;
    font-weight: 600;
    float: left;
    width: fit-content;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 18%;
}

#ventilation-checkbox2{
    font-size: small;
    font-weight: 600;
    float: left;
    width: fit-content;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 10%;
}

#semaine-type{
    margin-left: 10% !important;
}

#ventilation-checkbox3{
    font-size: small;
    font-weight: 600;
    float: left;
    width: fit-content;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 7%;
}

#tel{
    float: left;
    font-size: small;
    font-weight: 600;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 6%;
}

#semaineTypeButton{
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: 600 !important;
}

#joursNonTravail{
    float: left;
    margin-top: 4%;
    font-size: small;
    font-weight: 600;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: -41.7%;
}

#Heures-mois{
    float: left;
    font-size: small;
    font-weight: 600;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: -21%;
    margin-top: 1.6%;
}

#service{
    float: left;
    font-size: small;
    font-weight: 600;
    background-color: #e8f3fa;
    width: 15%;
    PADDING-LEFT: 1%;
    /* padding: 5px 5px 5px 5px; */
    margin-left: 6%;
}


.small{
    font-size: x-small;
    font-weight: 400;
    color: gray;
}

#contrat-div{
    margin-top: 4%;
    border-top: 0.1px #e9e9e9;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-style: solid;
}

#coord-div{
    margin-top: 10%;
    border-top: 0.1px #e9e9e9;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-style: solid;
}

#duree-div{
    margin-top: 10%;
    border-top: 0.1px #e9e9e9;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-style: solid;
}

#ventilation-div{
    margin-top: 10%;
    border-top: 0.1px #e9e9e9;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-style: solid;
}

#section-contrat{
    margin-top: 1%;
}

#section-ventilation{
    margin-top: 1%;
}
#section-coord{
    margin-top: 1%;
}
#section-duree{
    margin-top: 1%;
}
#info-bas{
    margin-left: 8%;
    MARGIN-TOP: -5%;
    font-weight: 600;
}

.table-borderless th{
    border-top: 1px solid #dee2e6;
    padding-bottom: 1%;
    font-size: small;
}

#head-table{
    color: #0000008f;
    border-bottom: 1px#b1b1b1fc;
    border-bottom-style: solid;
}

#export{
    border: none;
    padding: 1.1% 4% 1.1% 4%;
    font-family: cursive;
}

#checkbox{
    padding-right: 40 !important;
}

#stru{
    background-color: #3b698d;
    width: fit-content;
    padding: 4 20 4 20;
    color: white;
    border: black;
    border-radius: 5px;
}


#ajouter{
    border: none;
    padding: 0% 1% 0% 1%;
    font-family: cursive;
    background-color: #008be6;
    color: white;
    MARGIN-LEFT: 73.1%;
    font-size: small;
}

#ajouter:hover{
    background-color: #6393b2;
}

#export:hover{
    background-color: #bcbfc2a8;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .bg-light {
    background-color: #ffffff!important;
}
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    width: 50% !important;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888; 
    margin-top: 30px;
    font-size: small;
  }

  .bg-light {
    background-color: #ffffff!important;
}
  #search{
    width: fit-content;
    height: fit-content;
  }
  
  /* The Close Button */
  .close {
    width: fit-content;
    float: right;
    BACKGROUND-COLOR: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-left: 100%;
    margin-top: -2.7%;
  }

  #mod-semaine-type{
    background-color: #b7b7b770;
    padding: 6 5 6 5;
    border: none;
    margin-top: 2%;
    font-size: medium;
    margin-bottom: 20;
  }
  .close2 {
    float: right;
    margin-left: 95%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }

#input-action{
width: 15% !important;
BORDER: none;
FONT-SIZE: small;
padding-left: 20px;
margin-right: 20px;
}

.btn-primary {
    background-color: #ffffff !important;
    border-color: white !important;
}

.btn {
    border-radius: 0 0 0 0 !important;
}
.form-outline{
    width: 15%;
}

#form1{
    BORDER: none;
    font-size: small;
    height: 40;
}
    #input-stru{
        width: 15% !important;
        BORDER: none;
        FONT-SIZE: small;
        padding-left: 20px;
        margin-left: 20px;
        }



  #ajouter-button{
    background-color: #2b5a92 !important;
    margin-left: 42%;
    MARGIN-TOP: 4%;
  }
  
  .close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content2{
    margin-left: 50%;
  }

  

#logo-reglages{
    width: 15px;
}
.table td, .table th {
    vertical-align: top;
    border-top: 1px solid #ffffff;
    text-align: center;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #2b5a92;
    color: white;
    font-family: cursive;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #2b5a92;
    color: white;
    font-family: cursive;
}

#debutMat{
    background-color: #e2e2e28c;
    width: fit-content;
    padding: 5 15 5 15;
    /* MARGIN: 1%; */
    margin-left: 16%;
    margin-top: 6;
}

#finMat{
    background-color: #e2e2e28c;
    width: fit-content;
    padding: 5 15 5 15;
    /* MARGIN: 1%; */
    margin-left: 16%;
    margin-top: 6;
    margin-bottom: 30;
}

#debutAprem{
    background-color: #e2e2e28c;
    width: fit-content;
    padding: 5 15 5 15;
    /* MARGIN: 1%; */
    margin-left: 16%;
    margin-top: 30;
}
#finAprem{
    background-color: #e2e2e28c;
    width: fit-content;
    padding: 5 15 5 15;
    /* MARGIN: 1%; */
    margin-left: 16%;
    margin-top: 6;
}

#weekend{
    background-color: #efefef;
    border: none;
    padding: 6 10 6 10;
    width: 85;
    margin-right: 35;
}

#travaille{
    background-color: white !important;
}

#buttons-type{
    margin-left: 21;
    margin-bottom: 15;
    width: max-content;
}

#type-travail{
    background-color: #efefef;
    border: none;
    padding: 6 10 6 10;
    width: 70;
    margin-right: 35;
}

#type-travail-vendredi{
    background-color: #efefef;
    border: none;
    padding: 6 10 6 10;
    width: 70;
    margin-right: 34;
}

#type-travail-weekend{
    background-color: #efefef;
    border: none;
    padding: 21 10 10 10;
    width: 50;
    /* margin-right: 27; */
    margin-right: 33;
}

#menu-reg {
    BACKGROUND-COLOR: WHITE;
    WIDTH: 19%;
    PADDING: 3% !important;
    margin-left: 2% !important;
    margin-top: 0 !important;
    float: left !important;
}

#link-nom{
    color: #8537bd !important;
}

#stTitre{
    margin-top: 2%;
    font-family: cursive;
    margin-bottom: 2%;
}


.table-bordered thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #2b5a92;
    color: white;
    font-family: cursive;
    text-align: center;
}

.table-bordered{
    font-family: cursive;
    width: 80%;
}
.table-bordered{
    font-family: cursive;
    width: 80%;
}

.table-bordered tr{
    text-align: center;
}

.table-bordered td{
    padding: 8 1 8 1;
}

#valideDiv{
    margin-top: 3%;
    margin-left: 38%;
    
}